# Step 1: Loading data

In [ ]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('ecommerce_data.csv')
df.head()

,ID,Name,Age,Gender,City,Country,CreditCard,FullAddress,UserSignUpDate,UserLastPurchaseDate,...,UserLastLoginDate,UserPurchaseFrequency,Product Name,Category,Subcategory,Price,Date_Purchase,Quantity,Rating,Comment
0,0,Elizabeth Harris,42,F,Chungberg,Mismatched Country,2227218447017949,"75874 Chad Mountain Suite 588, West Robertches...",2021-10-31,2022-09-10,...,2022-10-23,Yearly,NaN,Furniture,Chair,-45,2022-11-16,-1,5,Decade cold it town people.
1,1,Michele Best,72,M,Port Sergio,Egypt,2556439104848944,"4039 David Fords Apt. 678, Lake Christopherber...",2023-03-25,2023-05-06,...,2023-05-15,Yearly,FreshVegetables,Grocery,Vegetables,-79,2023-03-26,1,1,Really development floor of.
2,2,Jake Taylor,-5,M,Evansmouth,Czech Republic,2273966520760545,"748 Mendez Ridges Apt. 994, Lake Jonathanton, ...",2021-09-14,2023-04-21,...,2023-07-20,Yearly,TastyBeverages,Grocery,Beverages,-1,2023-07-12,10,4,Cut television step increase structure serve u...
3,3,Christian Curry MD,64,M,Jensenfurt,Brunei Darussalam,2238348117052863,"735 Jones Mews, New Ginafurt, AR 99785",2022-03-10,2023-01-24,...,2023-04-25,Yearly,ComfortChair,Furniture,Chair,770,2023-06-26,0,0,Popular outside industry listen.
4,4,Craig Jones,92,M,East Jerry,Wallis and Futuna,2225629684025639,"95949 Jill Circle, Tuckerchester, VI 49522",2023-05-31,2023-06-26,...,2023-06-30,Yearly,FictionTales,Books,Fiction,994,2021-05-08,-1,5,Almost account important charge oil style anyone.

In [7]:
df.shape

(1500, 25)

In [8]:
df.columns

Index(['ID', 'Name', 'Age', 'Gender', 'City', 'Country', 'CreditCard',
       'FullAddress', 'UserSignUpDate', 'UserLastPurchaseDate', 'UserStatus',
       'UserTotalPurchases', 'UserSegment', 'UserLocation', 'UserSourceType',
       'UserLastLoginDate', 'UserPurchaseFrequency', 'Product Name',
       'Category', 'Subcategory', 'Price', 'Date_Purchase', 'Quantity',
       'Rating', 'Comment'],
      dtype='object')

In [9]:
# Rename the columns
df.rename(columns={'Product Name': 'ProductName'}, inplace=True)
df.rename(columns={'Date_Purchase': 'DatePurchase'}, inplace=True)

In [10]:
df['FullAddress']

0       75874 Chad Mountain Suite 588, West Robertches...
1       4039 David Fords Apt. 678, Lake Christopherber...
2       748 Mendez Ridges Apt. 994, Lake Jonathanton, ...
3                  735 Jones Mews, New Ginafurt, AR 99785
4              95949 Jill Circle, Tuckerchester, VI 49522
                              ...
1495                            USCGC Olsen, FPO AP 48988
1496        558 Clark Wall Suite 927, Lake Rose, HI 79553
1497            20345 Ashley Pass, Perkinsmouth, NE 39765
1498             933 Harris Points, Melanieberg, OH 20203
1499             474 Javier Landing, Davisville, IN 07973
Name: FullAddress, Length: 1500, dtype: object

In [11]:
df['FullAddress'] = df['FullAddress'].astype(str)

df['FullAddress'] = df['FullAddress'].str.replace(',', ';')

In [12]:
df['FullAddress']

0       75874 Chad Mountain Suite 588; West Robertches...
1       4039 David Fords Apt. 678; Lake Christopherber...
2       748 Mendez Ridges Apt. 994; Lake Jonathanton; ...
3                  735 Jones Mews; New Ginafurt; AR 99785
4              95949 Jill Circle; Tuckerchester; VI 49522
                              ...
1495                            USCGC Olsen; FPO AP 48988
1496        558 Clark Wall Suite 927; Lake Rose; HI 79553
1497            20345 Ashley Pass; Perkinsmouth; NE 39765
1498             933 Harris Points; Melanieberg; OH 20203
1499             474 Javier Landing; Davisville; IN 07973
Name: FullAddress, Length: 1500, dtype: object

# Step 2: Shuffle and Split the Data

In [13]:
# Shuffle the data
df_shuffled = df.sample(frac=1, random_state=42)

# Calculate the number of rows for each destination
total_rows = df_shuffled.shape[0]
json_rows = int(0.5 * total_rows)
csv_rows = total_rows - json_rows

# Split the data into JSON and CSV parts
df_json = df_shuffled.iloc[:json_rows]
df_csv = df_shuffled.iloc[json_rows:]

# Save the JSON and CSV Data

In [14]:
# Save the splits to their respective destinations (JSON, database, and CSV)
df_json.to_json('data.json', orient='records')
df_csv.to_csv('data.csv', index=False)